<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lujuntian.finalproject">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/table"
        android:label="我是淘宝"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Search" />
        <activity android:name=".Item_list" />
        <activity android:name=".Item_detail" />
        <activity android:name=".Favorite_list" />
        <activity android:name=".Favorite_detail" />
    </application>

</manifest>
